.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border: 1px solid #1e6770;
      border-radius: 30px;
      text-align: center;
      line-height: 38px;
      cursor: pointer;

      &:hover {
        background-color: #1e6770;
        color: white;
      }
    }
  }
  :global {
    .selected {
      a {
        background-color: #1e6770;
        color: white;
      }
    }
  }
}
