.root {
  position: relative;
  left: -120px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  padding-left: 42px;
  width: 300px;
  border-radius: 15px;
  font-size: 16px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 400px;
  }
}

.icon {
  position: absolute;
  left: 10px;
  top: 7px;
  width: 24px;
  height: 24px;
  opacity: 0.5;
}

.clear {
  position: absolute;
  right: 0;
  top: 7px;
  width: 60px;
  height: 24px;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 910px) {
  .root {
    left: 20px;
    top: 20px;
  }
}

@media (max-width: 1220px) {
  .root {
    margin-left: 150px;
  }
}

@media (max-width: 980px) {
  .root {
    margin-left: 170px;
  }
}
